3Schem.pdf
3Schem2.pdf
Abs.pdf
AbsDisc.pdf
AbsScattExt.pdf
AbsScattExt_50nm.pdf
AbsorptionDisk2D.pdf
Abstract.aux
Abstract.tex
Abstract1.pdf
Acknowledgments.aux
Acknowledgments.tex
AllF.png
AllV.pdf
AnalyticalHolgramReconstruction.pdf
ApertureRodDesign.pdf
Approval_page.aux
Approval_page.tex
AuGaAs_eps.pdf
AuGaAs_refind.pdf
Au_eps.pdf
Au_refind.pdf
BNLVoltage.pdf
C1.pdf
C2.pdf
C3.pdf
CD.pdf
CPLComp.pdf
C_em.pdf
Cem_eta0.pdf
Ch1_NLNP.tex
Ch2_chiral-hybrid-modes.tex
Ch3_diffractal.tex
Ch3_diffractal2.tex
Ch4_metasurface.log
Ch4_metasurface.tex
ComsolCDinD.pdf
ComsolCDinGF.pdf
ComsolObliqRefl.pdf
ComsolObliqTrans.pdf
Copyright_page.aux
Copyright_page.tex
DiffractalPaper.tex
Dissertation.aux
Dissertation.bbl
Dissertation.blg
Dissertation.idx
Dissertation.ilg
Dissertation.ind
Dissertation.lof
Dissertation.log
Dissertation.lot
Dissertation.nlo
Dissertation.nls
Dissertation.out
Dissertation.synctex.gz
Dissertation.tex
Dissertation.toc
Dissertation_template.7z
Dopt.pdf
ExExpB11.pdf
ExpMethod.pdf
ExpSetup2.pdf
ExperimentallHolgramReconstruction.pdf
EzMz.pdf
FTFractal.pdf
Four.tex
HolgramReconstruction.pdf
Inp.pdf
Inp_rho.pdf
Introduction.tex
LorentzForces.pdf
MagPlots.pdf
Multiplexing.pdf
Multiplexing2.pdf
NanoApertureRecipe.pdf
NanoApertureRecipeRods.pdf
NanoIslandsSEM.pdf
NanoStructureRecipe.pdf
One.tex
P1.pdf
PSNR.pdf
Poynting.pdf
Poynting_50nm.pdf
RealImagPoynting.pdf
Reflectivity.pdf
Rotational_Torque_1071nm.pdf
SAM_Density.pdf
SBenergy.pdf
SM(p^s)_Density.pdf
SM(p^s)_Density2.pdf
SPP.png
ScattAbsorptionF_zT_z.pdf
ScattDisc.pdf
SchemRotEx.pdf
SchemRotEx2.pdf
ScriptR.pdf
SetupPicMatt.pdf
Shem1.pdf
Shem1_2.pdf
Shem2.pdf
Shem2_2.pdf
Shem3.pdf
Shem3_2.pdf
SigandJPhi7.pdf
SigandJPhi8.pdf
Summary.tex
TNMT.pdf
Three.log
Three.pdf
Three.tex
Title_page.aux
Title_page.tex
ToC4_2.pdf
TransExp.pdf
Two.tex
V2.pdf
V2_2.pdf
V2_50nm.pdf
V3.pdf
V3_2.pdf
V3_50nm.pdf
Vx.pdf
Vy.pdf
ZEP520a_spincurve.png
bothSchem-eps-converted-to.pdf
bothSchem.eps
chirality_proof.pdf
compReflection_11-24-DvGF.pdf
currentDensity.pdf
directionality.pdf
disk2D.pdf
disk2D_2.pdf
disk2D_2_axes.pdf
dispRelation.pdf
dispRelation_Au.pdf
disp_ref_dielec.pdf
disp_ref_dielecAu.pdf
dnk_mT.pdf
dnk_mT.png
eta0.pdf
exampleTmatrixElements.pdf
exp-OR-CD_varyPol4-eps-converted-to.pdf
exp-OR-CD_varyPol4.eps
fig-eigPols-eps-converted-to.pdf
fig4.pdf
figs/
figure_439_wRoltLin12.eps
figure_439_wRoltLin12_wSEM-eps-converted-to.pdf
figure_439_wRoltLin13_wSEM-eps-converted-to.pdf
figure_439_wRoltLin13_wSEM.eps
goldComponents.pdf
goldRemains.pdf
grating.pdf
imagPoynting.pdf
imgRecon.pdf
modes.pdf
poyntingConv.pdf
previously_published_materials.tex
psnr_good_eb2.pdf
realPoynting.pdf
springs_image11-eps-converted-to.pdf
springs_image11.eps
superpositionAttempt.pdf
totV.pdf
totV_2.pdf
totV_50nm.pdf
totVint.pdf
totVint_2.pdf
voltageExperiment.pdf

